h2 {
  font-family: $zing-font;
  font-style: normal;
  font-weight: normal;
  font-size: 64px;
  line-height: 100%;
  text-align: center;
  letter-spacing: 0.02em;
  color: $main-dark;
  span {
    color: $main;
  }
}
h4 {
  font-family: $zing-font;
  font-weight: normal;
  font-size: 28px;
  line-height: 23px;
  color: $brown;
}
h5 {
  font-family: $zing-font;
  font-weight: normal;
  font-size: 24px;
  line-height: 23px;
  color: #0a0a0a;
}
h6 {
  font-weight: bold;
  font-size: 20px;
  line-height: 28px;
  color: #0a0a0a;
}
p {
  font-weight: normal;
  font-size: 16px;
  line-height: 25px;
  color: $text-color;
  a {
    color: $main;
  }
}
.button {
  padding: 20px 48px;
  border: 2px solid $black;
  box-sizing: border-box;
  border-radius: 100px;
  font-family: $zing-font;
  font-weight: normal;
  font-size: 24px;
  line-height: 20px;
  text-transform: uppercase;
  color: $white;
  display: inline-block;
  @include transition;
  background: none;
  cursor: pointer;
  &:hover {
    opacity: 0.8;
  }
  &.primary {
    background: $main;
  }
  &.secondary {
    background: $brown;
  }
}
