.nav {
  &__inner {
    display: flex;
    align-items: center;
    &-link {
      margin-right: 45px;
      font-weight: normal;
      font-size: 14px;
      line-height: 21px;
      text-transform: capitalize;
      color: $text-color;
      @include transition;
      &:hover {
        opacity: 0.8;
      }
      &.active {
        color: $main;
      }
    }
    &-social {
      display: flex;
      align-items: center;
      &-link {
        margin-right: 24px;
        height: 24px;
        width: 24px;
        display: flex;
        align-items: center;
        justify-content: center;
        @include transition;
        &:hover {
          opacity: 0.8;
        }
        img {
          max-height: 24px;
          max-width: 24px;
        }
        &:last-child {
          margin-right: 0;
        }
        &.active {
          color: $main;
        }
      }
    }
  }
}
.burger {
  display: none;
}
@mixin nav-xlg-xxlg {
  .nav {
    &__inner {
      &-link {
        margin-right: 15px;
      }
      &-social {
        &-link {
          margin-right: 15px;
        }
      }
    }
  }
}
@mixin nav-lg-xlg {
  .nav {
    position: fixed;
    top: 73px;
    left: 0;
    width: 100%;
    height: calc(100% - 73px);
    z-index: 1001;
    background: rgba($color: #000000, $alpha: 0.4);
    transform: translateX(100%);
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
    @include transition;
    &.active {
      @include transformReset;
    }
    &__inner {
      flex-direction: column;
      -ms-flex-direction: column;
      position: absolute;
      justify-content: unset;
      align-items: unset;
      top: 0;
      right: 0;
      width: 250px;
      padding: 0;
      z-index: 1;
      padding: 20px;
      height: calc(100% - 40px);
      overflow-y: auto;
      background: #fff;
      &-link {
        border: none;
        padding: 15px;
        display: block;
        text-align: left;
        width: unset;
        color: $black;
        margin-right: 0;
        font-size: 16px;
        line-height: 1;
      }
      &-social {
        margin: 15px;
      }
    }
    .button {
      margin: 15px;
      text-align: center;
    }
  }
  .body.active {
    overflow: hidden;
  }
  .burger {
    display: block;
    position: relative;
    width: 30px;
    height: 30px;
    &::before {
      top: 20%;
      width: calc(100% - 0.4rem);
      height: 4px;
      background-color: $main;
      border-radius: 0.125rem;
      transition: all 0.3s ease;
      content: "";
      position: absolute;
      left: 50%;
      @include transformX;
    }
    &::after {
      bottom: 20%;
      width: calc(100% - 0.4rem);
      height: 4px;
      background-color: $main;
      border-radius: 0.125rem;
      transition: all 0.3s ease;
      content: "";
      position: absolute;
      left: 50%;
      @include transformX;
    }
    &.active {
      &::before {
        top: 50%;
        -webkit-transform: translate(-50%, -50%) rotate(45deg);
        transform: translate(-50%, -50%) rotate(45deg);
      }
      &::after {
        bottom: 50%;
        -webkit-transform: translate(-50%, 50%) rotate(-45deg);
        transform: translate(-50%, 50%) rotate(-45deg);
      }
    }
  }
}
@mixin nav-sm-md {
  .nav {
    top: 60.7px;
    height: calc(100% - 60.7px);
  }
}
