$main: #1da1f2;
$main-dark: #07283d;
$main-light: #e7f6ff;
$text-color: #333333;
$black: #000;
$white: #fff;
$brown: #70440d;
$yellow: #ffd35c;
$green: #5bd1cb;
$pink: #ffc3c3;
$yellow-bg: #fff7e3;

$main-font: "Poppins", sans-serif;
$zing-font: "Zing", "Poppins", sans-serif;
